NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_SOUND_REGISTRY=

OPENAI_API_KEY=
OPENAI_MODEL=
NEXT_PUBLIC_OPENAI_API_KEY=

THEGRAPH_TOKEN_API_JWT=
THEGRAPH_TOKEN=
GRAPH_TOKEN_API_JWT=
NEXT_PUBLIC_THEGRAPH_TOKEN_API_JWT=

NEXT_PUBLIC_MY_INFURA_KEY=
MY_INFURA_KEY=
NEXT_PUBLIC_INFURA_KEY=
INFURA_KEY=
NEXT_PUBLIC_ETHEREUM_RPC_URL=
ETHEREUM_RPC_URL=
NEXT_PUBLIC_SEPOLIA_RPC_URL=
SEPOLIA_RPC_URL=
NEXT_PUBLIC_POLYGON_RPC_URL=
POLYGON_RPC_URL=
NEXT_PUBLIC_ARBITRUM_RPC_URL=
ARBITRUM_RPC_URL=
NEXT_PUBLIC_AVALANCHE_RPC_URL=
AVALANCHE_RPC_URL=
NEXT_PUBLIC_BASE_RPC_URL=
BASE_RPC_URL=
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_KATANA_RPC_URL=
KATANA_RPC_URL=
NEXT_PUBLIC_KATANA_EXPLORER_URL=
KATANA_EXPLORER_URL=

NEXT_PUBLIC_ENS_DISPLAY_ROOT=
NEXT_PUBLIC_SOUND_BYPASS=

NEXT_PUBLIC_L2_REGISTRY_ADDRESS=
NEXT_PUBLIC_L2_REGISTRAR_ADDRESS=
